<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    </configSections>
    <appSettings>
        <add key="EncryptKey" value="tlTMxpaROqkfXLA"/>
        <add key="WebUrl" value="http://ghost.verygoodtour.com"/>
        <add key="HomeUrl" value="http://ghost.verygoodtour.com"/>
        <add key="ErpUrl" value="http://paladin.verygoodtour.com"/>
        <add key="SenderName" value="참좋은여행"/>
        <add key="SenderEmail" value="send@verygoodtour.com"/>
        <add key="EmpCode" value="9999999"/>
        
        <!-- 적립안내메일발송여부 -->
        <add key="SendMailYn" value="N"/>

        <!-- 모드 1:조회전용 , 2:참좋은포인트적립 , 3:OK캐쉬백포인트전환(OK포인트적립 및 참좋은포인트 차감)-->
        <add key="Mode" value="3"/>
        
        <!-- 로그파일생성경로 -->
        <add key="LogPath" value="D:\VERYGOOD_PROJECT\Monster\Application\Point\Log_PointSaveSendMail.txt"/>
        <add key="SendMailLogPath" value="D:\LogFiles\SendMail\SendLog_2016-07.txt"/>
        
        <!-- INI 파일 -->
        <add key="INIPath" value="D:\VERYGOOD_PROJECT\Monster\Application\Point\PointSaveSendMail\trc_no_info.ini"/>

        <!-- OK캐쉬백 MEPS 정보 -->
        <add key="ITRS_IP" value="itrstest.okcashbag.com"/>
        <add key="ITRS_PORT" value="7201"/>
        <add key="G_MCHT_NO" value="30028253"/>
        <add key="G_MCHT_BIZ_NO" value="1048520381"/>
        <add key="G_ORGAN_CD" value="0504"/>
        
        <!-- 관리자 정보 -->
        <add key="ManagerName" value="박형만,이동호"/>
        <add key="ManagerEmpCode" value="2013007,2013011"/>
        <add key="ManagerEmail" value="jerryhm@verygoodtour.com,ldh@verygoodtour.com"/>

        <!-- OK 캐쉬백 담당자 사번-->
        <add key="OKManagerEmpCode" value="2013007,2012011"/>

        <!-- SMTP 서버 정보 -->
        <add key="SmtpServeHostName" value="mail.verygoodtour.com"/>
        <add key="SmtpServePort" value="587"/>
        <!-- send -->
        <add key="SmtpServerID" value="iwveJ1FMxg1DvGnv+wVYCYteE/0wJzzu"/>
        <add key="SmtpServerPassword" value="1YDiNxPBOOnwRo1I+s3/Lw=="/>

        <add key="SmtpSendAccount" value="webmaster@verygoodtour.com"/>
        <add key="SmtpSendPassword" value="1YDiNxPBOOkITPlFF3+ecQ=="/>
      <!-- webmaster 
        <add key="SmtpServerID" value="8sLkaFj5DW6fRwiTROiUu+vaM66WvFwFPkDp9zi9ocA="/>
        <add key="SmtpServerPassword" value="1YDiNxPBOOkITPlFF3+ecQ=="/>-->
    </appSettings>
    <dataConfiguration defaultDatabase="DIABLO"/>
    <connectionStrings>
        <add name="DIABLO" connectionString="server=110.11.44.180,14333;UID=sa;PWD=ckawhgdms4000;DATABASE=DIABLO;" providerName="System.Data.SqlClient"/>
        <add name="REAL" connectionString="server=182.162.173.100;UID=sa;PWD=Rckawhgdms!;DATABASE=DIABLO;Connect Timeout=180;Timeout=120" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>